@page
@model p_tenz.Covid19Stats.WebApp.Pages.StatsModel
@{
}

<div class="text-center">
<h1 class="display-4">@Model.Title</h1>
    <p>Read from <a href="https://sunrise-sunset.org">Sun API which is great!</a>.</p>
    <p>
        The sun in Stuttgart on @Model.Sunrise.ToLongDateString() is rising at @Model.Sunrise.ToLongTimeString() and setting at @Model.Sunset.ToLongTimeString()<br />
        It is on its highest point (noon) at @Model.SolarNoon.ToLongTimeString().
    </p>
</div>